<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sanibell - @ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("PageStyle", required: false)
</head>

<body>
    <header>
        <div class="sanibell-container">
            <h4 class="sanibell-header-text">SANIBELL</h4>
        </div>
        <div class="title-container">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>

        @{
            // Lees de flags uit ViewData
            bool showBackButton = ViewData["ShowBackButton"] as bool? ?? false;
            bool showLogoutButton = ViewData["ShowLogoutButton"] as bool? ?? false;
        }

        <div class="button-container ">
            @if (showBackButton)
            {
                <button onclick="history.back()" class="header-buttons shadowbox">
                    <img class="icon" src="icons/Back.png" />
                </button>
            }
            else if (showLogoutButton || (User?.Identity?.IsAuthenticated == true))
            {
                <form method="post" asp-page="/Logout">
                    <button type="submit" class="header-buttons shadowbox">
                        <img class="icon" src="icons/Log_out.png" />
                    </button>
                </form>
            }
        </div>
    </header>

    <div class="RenderBody">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div>

            &copy; @DateTime.UtcNow.Year SANIBELL - Production Module
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>