@page
@model PlannerAdviesModel
@{
    ViewData["Title"] = "Planner Advies";
}

@section PageStyle {
    <link rel="stylesheet" href="~/css/PlannerAdvies.css" />
}

<table class="data-container">
    <thead>
        <tr>
            <th>Eindproduct</th>
            <th>Artikel Nummer</th>
            <th>Recept Code</th>
            <th>Aanbevolen Aantal</th>
            <th>Maximale Aantal</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Planners != null)
        {
            foreach (Models.Planning planner in Model.Planners)
            {
                <tr onclick="location.href='@Url.Page(pageName: "/Planner/PlannerDetail", new { AdviesId = planner.AdviesId })';">
                    <td>@planner.EindProduct</td>
                    <td>@planner.ArtikelNummer</td>
                    <td>@planner.ReceptCode</td>
                    <td>@planner.AanbevolenAantal</td>
                    <td>@planner.MaximaalAantal</td>
                </tr>
            }
        }
    </tbody>
</table>