@page
@using Sanibell_ProductionModule.Models
@using System.Globalization
@model PlannerAdviesModel
@{
    ViewData["Title"] = "Planner Advies";
}
@section PageStyle {
    <link rel="stylesheet" href="~/css/PlannerAdvies.css" />
}



<form method="post" id="planningForm" class="form-wrapper">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-header">
        <input class="search-field" type="text" id="searchInput" placeholder="Zoek in alle kolommen" />
    </div>

    <table class="data-container">
        <thead>
            <tr>
                <th>Artikel Nummer</th>
                <th>Artikel Omschrijving</th>
                <th>maat</th>
                <th>kleur</th>
                <th>Huidige voorraad NL / PL</th>
                <th>Week @CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(
                                        DateTime.Now.AddDays(7), // current week +7 days
                                        CalendarWeekRule.FirstFourDayWeek,
                                        DayOfWeek.Monday)</th>
                <th>Week @CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(
                                        DateTime.Now.AddDays(14), // current week +14 days
                                        CalendarWeekRule.FirstFourDayWeek,
                                        DayOfWeek.Monday)</th>
                <th>Week @CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(
                                        DateTime.Now.AddDays(21), // current week + 21 days
                                        CalendarWeekRule.FirstFourDayWeek,
                                        DayOfWeek.Monday)</th>
                <th>Max. order aantal</th>
                <th>Leverdatum</th>
                <th>Aantal</th>
                <th>Urgent</th>
                <th>Selectie</th>
            </tr>
        </thead>
        <tbody id="PlannerTableBody">
            @for (int i = 0; i < Model.Planners.Count; i++)
            {
                <tr>
                    <td>@Model.Planners[i].ArticleNumber<input type="hidden" asp-for="Planners[i].ArticleNumber" /></td>
                    <td>@Model.Planners[i].ArticleDescription<input type="hidden"
                            asp-for="Planners[i].ArticleDescription" /></td>
                    <td>@Model.Planners[i].Size<input type="hidden" asp-for="Planners[i].Size" /></td>
                    <td>@Model.Planners[i].Color<input type="hidden" asp-for="Planners[i].Color" /></td>
                    <td>@Model.Planners[i].TotalCurrentStockNL / @Model.Planners[i].TotalCurrentStockPL
                        <input type="hidden" asp-for="Planners[i].TotalCurrentStockNL" />
                        <input type="hidden" asp-for="Planners[i].TotalCurrentStockPL" />
                    </td>

                    <td>@Model.Planners[i].Recommended7Days<input type="hidden" asp-for="Planners[i].Recommended7Days" />
                    </td>
                    <td>@Model.Planners[i].Recommended14Days<input type="hidden" asp-for="Planners[i].Recommended14Days" />
                    </td>
                    <td>@Model.Planners[i].Recommended30Days<input type="hidden" asp-for="Planners[i].Recommended30Days" />
                    </td>
                    <td>@Model.Planners[i].MaxPossibleProduction<input type="hidden"
                            asp-for="Planners[i].MaxPossibleProduction" /></td>
                    <td>@Model.Planners[i].ReadyDate.ToShortDateString()<input type="hidden"
                            asp-for="Planners[i].ReadyDate" /></td>
                    <td><input type="number" asp-for="Planners[i].Amount" class="form-amount"
                            min="@Model.Planners[i].Recommended7Days" max="@Model.Planners[i].MaxPossibleProduction" /></td>
                    <td>
                        <input type="checkbox" asp-for="Planners[i].Urgency" class="urgency-item" />
                    </td>
                    <td><input type="checkbox" asp-for="Planners[i].Selection" class="selection-item" /></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-buttons">
        <button class="shadowbox" type="submit" form="planningForm">Orders Aanmaken</button>
        <button class="shadowbox" type="button" id="toggleAll">Selecteer alles</button>
    </div>
</form>

@section Scripts {
    <script src="~/js/PlannerAdvies.js"></script>
}