@page
@model PlannerAdviesModel
@{
    ViewData["Title"] = "Planner Advies";
}
<h1>@ViewData["Title"]</h1>

<table class="data-container">
    <thead>
        <tr>
            <th>.</th>
            <th>.</th>
            <th>.</th>
            <th>.</th>
            <th>.</th>
            <th>.</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Planners != null)
        {
            foreach (Models.Planning order in Model.Planners)
            {


                <tr>
                    <td>Test</td>
                    @* <td>@order.Id</td>
                    <td class="@statusClass">@order.Status</td>
                    <td>@order.Note</td>
                    <td>@order.Amount</td>
                    <td>@order.CreatedBy</td>
                    <td>@order.MadeBy</td> *@
                </tr>
            }
        }
    </tbody>
</table>